<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Hair Salon</title>
  </head>
  <body>
    <h1>It's A hairy world out there!</h1>

    <h3><a href="/clients">Add or view a client</a></h3>
    <h3><a href="/stylists">Add or view a stylist</a></h3>
  </body>
</html>
