
<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Hair Salon</title>
  </head>
  <body>
    <div class="container">
      <h1>{{ stylist.getStylistName }}</h1>
      {% if clients is not empty %}
      <h1>These people need a hair cut:</h1>
      <ul>
        {% for client in clients %}
        <li><a href='/clients/{{ client.getId }}/edit'>{{ client.getClientName }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}

      <h4>Add a client:</h4>

      <form action="/clients" method="post">
        <input id="stylsit_id" name="stylist_id" type="hidden" value="{{ stylist.getId }}">
        <label for="client_name">Client:</label>
        <input type="text" name="client_name" id="client_name" value="" required>
        <button type="submit" name="button">add</button>
      </form>
      <form action='/delete_clients' method='post'>
        <button type='submit' >Clear</button>
      </form>
    <p><a href='/'>Home</a></p>
    </div>
  </body>
</html>
