<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Hair Salon</title>
  </head>
  <body>
    <div class="container">
      <h1></h1>
      {% if clients is not empty %}
      <p>These people need a hair cut:</p>
      <ul>
        {% for client in clients %}
        <li>{{ client.getClientName }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      <h4>Add a client:</h4>

      <form action='/clients' method='post'>
        <input id="stylsit_id" name="stylist_id" type="hidden" value="{{ stylist.getId }}">
        <label for="client_id">Select a victim</label>
        <select id='client_id' name='client_id' type='text'>
              {% for client in clients %}
                <option value="{{ client.getId }}"> {{ client.getClientName }} </option>
              {% endfor %}
        </select>
        <button type='submit'>Add client</button>
    </form>

    <p><a href='/'>Home</a></p>
    </body>
</html>
